APP_VERSION=1.1.3
SERVICE_NAME=techx-tasks-api
PORT=3333
NODE_ENV=development
CORS_ORIGIN=http://localhost:4200
JSON_BODY_LIMIT=1mb

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=techx
DB_PASSWORD=techx
DB_NAME=techx_tasks

LOG_LEVEL=info
RATE_LIMIT_ENABLED=true
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
